<div class="row">
  <h1><strong>Hard y Soft Skills</strong></h1>
<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [outerStrokeWidth]="5"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [title]="'Trabajo en equipo'"
  [animation]="true"
  [animationDuration]="1300"
  [lazy]="true"
></circle-progress>
</div>

<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="5"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[title]="'Trabajo en equipo'"
[animation]="true"
[animationDuration]="1300"
[lazy]="true"
></circle-progress>
</div>

<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="5"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[title]="'Trabajo en equipo'"
[animation]="true"
[animationDuration]="1300"
[lazy]="true"
></circle-progress>
</div>

<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="5"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[title]="'Trabajo en equipo'"
[animation]="true"
[animationDuration]="1300"
[lazy]="true"
></circle-progress>
</div>

<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
<circle-progress
[percent]="85"
[radius]="100"
[outerStrokeWidth]="5"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[title]="'Trabajo en equipo'"
[animation]="true"
[animationDuration]="1300"
[lazy]="true"
></circle-progress>
</div>

<div class="text-center col-xs-4 col-sm-4 cpl-md-4 col-lg-4">
    <circle-progress
    [percent]="85"
    [radius]="100"
    [outerStrokeWidth]="5"
    [innerStrokeWidth]="8"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [title]="'Trabajo en equipo'"
    [animation]="true"
    [animationDuration]="1300"
    [lazy]="true"
    ></circle-progress>
    </div>

</div>
