<div class="row">
<div class="container">
    <div class="logo">
        <img src="../../../assets/Arg-Prog-Logo.png" id="LogoArgProg">
    </div>
    <div class="redes">
        <div>
            <img src="../../assets/facebook.png" id="Facebook" >
            <img src="../../assets/Instagram.png" id="instagram">
            <img src="../../assets/linkedin.png" id="linkedin">
            <img src="../../assets/whatsapp.png" id="whatsapp">
            <img src="../../assets/github.png" id="github">
            <button type="button" class="btn btn-outline-dark">START</button>
        </div>
    </div>
</div>
</div>


