<div class="row">
  <h1>Proyectos realizados</h1>
  <div class="contenedor">
            <div class="col-xs-12 col-sm-7 cpl-md-7 col-lg-7 segmento1">
                <h1>Webhook Whatsapp</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem tempora itaque maiores fuga odio! Quod, tempora blanditiis adipisci eveniet, quae quibusdam sequi fuga deleniti reprehenderit, repudiandae animi ea quaerat amet.</p>
            </div>
                <div class="col-xs-12 col-sm-3 cpl-md-3 col-lg-3 offset-md-1 offset-lg-1 segmento2">
                <img src="../../../assets/botwhatsapp.png" class="img-fluid img-proyectos">
             </div>
    </div>

</div>
