<div class="row">
    <h1>Experiencia Laboral</h1>
    <div>
        <ul>
            <li><strong>Inden S.A.</strong></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita eos ullam nisi? Dicta autem error mollitia consectetur ullam, quia quidem quod, soluta unde exercitationem assumenda excepturi numquam similique commodi laboriosam.</p>
            <li><strong>Foca Software</strong></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod, provident accusamus. Aut, natus alias? Corporis officiis hic, dolor nesciunt quibusdam distinctio, ipsam eius debitis natus voluptas consequuntur quis aut quaerat!</p>
            <li><strong>Otras Experiencias</strong></li>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit quae dolorem harum? Provident vero obcaecati iusto culpa, esse reiciendis quia aspernatur sed? Possimus debitis adipisci nesciunt ipsam dolorem voluptatum laudantium!</p>
    
        </ul>
    </div>
</div>